.location-marker, .project-type-marker {
    .default, .donation {
        fill: #1b2661;
    }
    .delivery {
        fill: #fdce06;
    }
    .info {
        fill: #318bd6;
    }
}

.project-type-marker {
    padding-left: 4px;
}