.location-marker, .project-type-marker {
    .default, .dark-blue {
        fill: #1b2661;
    }
    .dark-green {
        fill: #00700f;
    }
    .purple {
        fill: #af31d6;
    }
    .red-orange {
        fill: #d65231;
    }
    .baby-blue {
        fill: #318bd6;
    }
}

.project-type-marker {
    padding-left: 4px;
}