.location-marker, .project-type-marker {
    .default, .dark-blue {
        fill: #1b2661;
    }
    .dark-green {
        fill: #00700f;
    }
    .purple {
        fill: #681980;
    }
    .red-orange {
        fill: #cc0000;
    }
    .baby-blue {
        fill: #318bd6;
    }
    .pink {
        fill: #ff1aff;
    }
    .orange {
        fill: #ff9900;
    }
}

.project-type-marker {
    padding-left: 4px;
}