#project_filters_panel {
    .stats-container {
        opacity: .7;
        font-size: .7rem;
        padding: 1rem;
    }
    .input-group-sm {
        input {
            border-radius: 0;
        }
    }
    .date-range-container {
        cursor: pointer;
    }
    .project-types-container {
        .form-check {
            margin-bottom: 0.5rem;
            .form-check-label {
                line-height: 2;
                font-weight: 600;
            }
        }
    }
    .range-container {
        margin: 1rem;
    }
}

.checkbox-container {
    max-width: 70%;
    cursor: pointer;
    margin: 1rem 0;
    
    .hidden-checkbox{
        border: 0;
        clip: rect(0 0 0 0);
        clip-path: inset(50%);
        height: 0.0625rem;
        margin: -0.0625rem;
        overflow: hidden;
        padding: 0;
        position: absolute;
        white-space: nowrap;
    }
    .styled-checkbox{
        display: inline-block;
        width: 1rem;
        height: 1rem;
        background: #EEF0EA;
        border-radius: 0.15625rem;
        border: 0.0625rem solid darkgray;
    }
    .icon {
        fill: none;
        stroke: #5B5A5E;
        stroke-width: 0.40625rem;
        width: 1rem;
        padding-bottom: 0.5rem;
        padding-right: 0.125rem;
    }
    .style-span{
        margin-left: 0.5rem;
    }
    .show-checked {
        visibility: visible;
    }
    .hide-checked {
        visibility: hidden;
    }
}

.rc-slider-with-marks {
    margin-bottom: 2rem;

    .rc-slider-mark  {
        font-size: 0.7rem;
    }

    .rc-slider-track {
        background-color: #509646;
    }
    .rc-slider-handle {
        border: solid 2px #509646;
        background-color: #509646;
    }
}