.project_details_container {
    .sub-header-container {
        padding: .5rem 0;
    }
    .project_details_label {
        color: #333;
        font-size: .75rem;
        padding: 0.5rem 0;
        font-style: italic;
    }
}