#welcome_panel_content {
    padding: 2rem 0 1rem .5rem;
    .block-text-container {
        padding-top: 1rem;
    }
    .icon-container {
        padding: 0;
        .flush-left {
            padding-left: 0; 
        }
        .location-marker {
            svg {
                max-height: 32px;
                max-width: 32px;
                fill: #509646;
            }
        }
    }
    .btn-container {
        padding: 1.5rem 0;
    }
}