html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

#app_container {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: .75rem;
    font-weight: 500;
    line-height: normal;
    color: #666666;

    h1 {
        color: #509646;
    }

    p { 
        font-size: 1rem;
        word-break: break-word;
    }

    #map_container {
        padding: 0;
    }
}

@media screen and (max-width: 768px) {
    #app_container {
        #map_container {
            display: none;
        }
        .btn-primary {
            width: 100%;
        }
        .project-type-marker {
            display: none;
        }

        #project_filters_panel {     
            .checkbox-container {
                max-width: 80%;
            }
        }
    }  
}
